.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
hesita-JG.Rproj
simulation_demo.R
JG_hestia.Rproj
JG/
JG_HPC/data
*.pdf
.RDataTmp*
.DS_Store
.DS_Store
.github/ISSUE_TEMPLATE/bug_report.yml
.github/ISSUE_TEMPLATE/config.yml
.DS_Store
.github/ISSUE_TEMPLATE/feature_request.yml
